<mat-card class="contact-card">
  <mat-card-title>{{contact.firstName + ' ' + contact.lastName}}</mat-card-title>
  <mat-card-subtitle><a href="mailto:{{contact.email}}">{{contact.email}}</a></mat-card-subtitle>
  <mat-card-actions align="end">
    <button mat-mini-fab color="primary" (click) = "editContact()" matTooltip="Edit Contact"><i class="material-icons">edit</i></button>
    <button mat-mini-fab color="primary" (click) = "deleteContact()"   matTooltip="Delete Contact"><i class="material-icons">delete</i></button>
  </mat-card-actions>
</mat-card>